services:
    clickhouse:
        container_name: clickhouse
        hostname: clickhouse
        image: clickhouse/clickhouse-server:25.11-alpine
        env_file:
            - .env
        environment:
            CLICKHOUSE_USER: ${CLICKHOUSE_USER}
            CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
            CLICKHOUSE_DB: ${CLICKHOUSE_DB}
            CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
        ports:
            - "8123:8123"
            - "9999:9000"
        volumes:
            - ./data/clickhouse/data:/var/lib/clickhouse
            - ./data/clickhouse/logs:/var/log/clickhouse-server
            - ./clickhouse/scripts:/docker-entrypoint-initdb.d:ro
        restart: no
        ulimits:
            nofile:
                soft: 262144
                hard: 262144

    redis:
        container_name: redis
        hostname: redis
        image: redis:8.4.0-alpine
        env_file:
            - .env
        ports:
            - "6379:6379"
        volumes:
            - ./data/redis:/data
        restart: no
        command: redis-server --requirepass ${REDIS_ROOT_PASSWORD} --user ${REDIS_APP_USER} on >${REDIS_APP_PASSWORD} ~* +@all
