name: CI - Build and Publish

on:
    push:
        tags:
            - "[0-9]+.*"
    workflow_dispatch:
        inputs:
            version:
                type: string
                description: "The version to deploy"
                required: true

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            # ----- Docker ----- #
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{ github.repository_owner }}/log-pulse-ingestor
                  tags: |
                      type=ref,event=tag
                      type=raw,value=${{ github.event.inputs.version }},enable=${{ github.event_name == 'workflow_dispatch' }}
                      type=raw,value=latest,enable=${{ github.ref_type == 'tag' }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                  context: ./app
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}

            # ----- Helm ----- #
            - name: Install Helm
              uses: azure/setup-helm@v4.3.0

            - name: Prepare Helm Chart
              id: helm_vars
              run: |
                   VERSION=${{ github.ref_name }}

                   if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
                   VERSION=${{ github.event.inputs.version }}
                   fi

                   echo "version=$VERSION" >> $GITHUB_OUTPUT

                   sed -i "s/^version:.*/version: ${VERSION}/" charts/log-pulse-ingestor/Chart.yaml
                   sed -i "s/^appVersion:.*/appVersion: ${VERSION}/" charts/log-pulse-ingestor/Chart.yaml

            - name: Package and Push Helm Chart
              run: |
                  VERSION=${{ steps.helm_vars.outputs.version }}

                  helm package charts/log-pulse-ingestor --version ${VERSION}
                  helm push log-pulse-ingestor-${VERSION}.tgz oci://ghcr.io/${{ github.repository_owner }}/chart
